name: Flutter Build Android & iOS

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-android:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.13.0"
      - run: flutter pub get
      - run: flutter build apk --release --target-platform android-arm,android-arm64
      - run: flutter build appbundle --release --target-platform android-arm,android-arm64
      - uses: actions/upload-artifact@v3
        with:
          name: android-build
          path: |
            build/app/outputs/flutter-apk/app-release.apk
            build/app/outputs/bundle/release/app-release.aab

  build-ios:
    runs-on: macos-latest
    needs: build-android   # Opsional: tunggu Android selesai dulu

    steps:
      - uses: actions/checkout@v3
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.13.0"
      - run: flutter pub get
      - run: flutter build ios --release
      - run: flutter build ipa
      - uses: actions/upload-artifact@v3
        with:
          name: ios-build
          path: build/ios/ipa/*.ipa
