name: Flutter iOS Build

on:
  push:
    branches: [main]

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.0"  # Flutter terbaru + Dart terbaru

      - run: flutter config --no-analytics

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS release
        run: flutter build ios --release

      - name: Build IPA
        run: flutter build ipa

      - uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: build/ios/ipa/*.ipa
